*{
    
<! -- open to cloced curly means it will be the same syle globally though the page-->
    
font-family: sans-serif;
}

body{

background-color: white;
    
<! -- makes the background coler white-->
    
padding-top: 180px;

}



nav {
    
top: 0;
    
left: 0;
    
position: fixed;
    
width: 100vw;
    
background-color: #FA6800;
    
height: 180px;
    
font-size: 30px;

z-index: 9999;
    

    
}
.wrapper {  
    
margin: 0 auto;
    
width: 80vw;
    
<! -- a wrapper limits how far content can go for side to side -->
    
}

a{
    
text-decoration:none;
    
color:white;
}


ul {




} 



ul li {

line-height: 120px;

display: inline-block;

<! -- makes the link a box-->

list-style: none;

<! -- means that all of the links are on a line -->

    float: left;

<! -- gets rid of the gap between links-->



}


ul li a {

<! -- the ul li a and everything in it controls the properties of the text-->


font-size: 50px;

padding: 3vw;

<! -- the gap between each nav bar button-->

display: block;

text-decoration: none;

<! -- gets rid of the bullet points -->

}

ul li a:hover{


color: black;

transition-duration: 0.4s;

cursor: pointer;

background-color: orangered;

border-radius: 15px;



<! -- when the curcer hovers above the nav bar text it changes to the couler white-->

}



.imgbox {

display: grid;

height: 100%;
}

.center-fit {

max-width: 100%;

max-height: 100vh;

margin: auto;

}

.web-developer1 {

margin-top: 2vw;

position: absolute;

padding: 0.5vw;

right: 5vw;

max-width: 100%;

max-height: 100vh;

}

.web-developer2 {

margin-top: 19vw;

position: absolute;

padding: 0.5vw;

right: 5vw;

max-width: 100%;

max-height: 100vh;

}

.web-developer3 {

margin-top: 17vw;

position: absolute;

padding: 0.5vw;

right: 5vw;

max-width: 100%;

max-height: 100vh;

}


p{

padding-top: 1vw;

padding-left: 1vw;
    
padding-right: 1vw;
    
padding-bottom: 1vw;

text-align: center;

font-size: 35px;

border: 3px solid #FA6800;

}


.jobs-avalible-text{

padding-top: 1vw;

padding-left: 1vw;
    
padding-right: 1vw;
    
padding-bottom: 1vw;

width: 50vw;
  
font-size: 25px;

text-align: left;

border: 3px solid #FA6800;

}


.web_developer_text_1 {
    
margin-top: 18vw;

padding-top: 1vw;

padding-left: 1vw;
    
padding-right: 1vw;
    
padding-bottom: 1vw;

width: 50vw;    

text-align: left;

font-size: 25px;

border: 3px solid #FA6800;




}


.socail-media-postion{

margin-top: 5vh;
    
margin-bottom: 5vh;

margin-left: 3vw;
    
margin-right: 3vw;
    
}


.social-media-buttons{
    
margin-left: 4vw;
    
margin-right: 4vw;

display: inline-block;
       
    
}


.jobs-avalible-image1{
  
margin-left: 60vw;

max-width: 100%;

max-height: 100vh;  
    
}

h1{
    
font-family: sans-serif;

margin-top: 15vh;
    
font-size: 35px;

color: #FA6800;
    
font-weight: 600;
    
border-bottom: 3px solid black;
    
text-align: center;
    

    
}

.first-name{
    
font-family: sans-serif;

margin-top: 5vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: center;
    
}

.first-name input{
    
    height: 5vh;
    
    width: 80vw;
    
    border: 3px solid #FA6800;
    
    text-align: center;
    
    font-size: 2.5vw;
    
}


.second-name{

font-family: sans-serif;

margin-top: 2vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: center;
    
}

.second-name input{
    
    height: 5vh;
    
    width: 80vw;
    
    border: 3px solid #FA6800;
    
    text-align: center;
    
    font-size: 2.5vw;
}

.email{

font-family: sans-serif;

margin-top: 2vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: center;
    
}

.email input{
    
height: 5vh;
    
width: 80vw;
    
border: 3px solid #FA6800;
    
text-align: center;
    
font-size: 2.5vw;

}

.phone-num{

font-family: sans-serif;

margin-top: 2vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: center;

    
}

.phone-num input{
    
height: 5vh;
    
width: 80vw;
    
border: 3px solid #FA6800;
    
text-align: center;
    
font-size: 2.5vw;
}

.DOB{

font-family: sans-serif;

margin-top: 2vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: center;
    
}

.employment_status{

font-family: sans-serif;

margin-top: 2vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: center;
    
}

.gender{

font-family: sans-serif;

margin-top: 2vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: center;
    
}

.job{

font-family: sans-serif;

margin-top: 2vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: center;
    
}

.personal_statement{

font-family: sans-serif;

margin-top: 2vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: center;
    
}


.reset-button{
    
margin-bottom: 5vh;
    
text-align: left;

display: inline-block;
    
margin-left: 5vw;
    

    
}

.reset-button button{
    
color: white;

background-color: #FA6800;
    
height: 4vh;
    
width: 35vw;

}

.reset-button button:hover{

color: black;

transition-duration: 0.4s;

cursor: pointer;

background-color: orangered;

}


.submit-button{

margin-top: 10vh;
    
text-align: right;
    
color: white;
    
display: inline-block;
    
margin-right: 4vw;
    
    
}

.submit-button button{
    
color: white;

background-color: #FA6800;
    
height: 4vh;
    
width: 35vw;

}

.submit-button button:hover{

color: black;

transition-duration: 0.4s;

cursor: pointer;

background-color: orangered;

}

.random-text{
    
    font-size: 25px;
    
    margin-top: 5vh;
    
}






<! -- lines 5 to 15 interact whith the html code so the image can be scaled whith browser window size-->

    





























































