*{
    
<! -- open to cloced curly means it will be the same syle globally though the page-->
    
font-family: sans-serif;
    
}

body{

background-color: white;
    
<! -- makes the background coler white-->
    
padding-top: 180px;
    
display: flex;
    
flex-direction: column;
    
min-height: 100vh;


}

#main{
    
    flex-grow: 1;
    
}



nav {
    
top: 0;
    
left: 0;
    
position: fixed;
    
width: 100vw;
    
background-color: #FA6800;
    
height: 180px;
    
font-size: 30px;

z-index: 9999;
    

    
}
.wrapper {  
    
margin: 0 auto;
    
width: 80vw;
    
<! -- a wrapper limits how far content can go for side to side -->
    
}

a{
    
text-decoration:none;
    
color:white;
    
}


ul {




} 



ul li {

line-height: 120px;

display: inline-block;

<! -- makes the link a box-->

list-style: none;

<! -- means that all of the links are on a line -->

    float: left;

<! -- gets rid of the gap between links-->



}


ul li a {

<! -- the ul li a and everything in it controls the properties of the text-->


font-size: 50px;

padding: 3vw;

<! -- the gap between each nav bar button-->

display: block;

text-decoration: none;

<! -- gets rid of the bullet points -->

}

ul li a:hover{


color: black;

transition-duration: 0.4s;

cursor: pointer;

background-color: orangered;

border-radius: 15px;



<! -- when the curcer hovers above the nav bar text it changes to the couler white-->

}



.imgbox {

display: grid;

height: 100%;
}

.center-fit {

max-width: 100%;

max-height: 100vh;

margin: auto;
    
margin-top: 5vh;
    
margin-bottom: 5vh;
    
}


@media only screen and (max-width: 900px) {
    
  
.center-fit {

max-width: 100%;

max-height: 100vh;

text-align: center;
    
margin-top: 0.5vh;
    
margin-bottom: 0.5vh;
    
}
    
    
}

.web-developer1 {

margin-top: 2vw;

position: absolute;

padding: 0.5vw;

right: 26vw;

max-width: 100%;

max-height: 100vh;

}

@media only screen and (max-width: 2400px) {
  
    .web-developer1{
        
        right: 20vw; 
        
    }
    
}
    
@media only screen and (max-width: 1600px) {
  
    .web-developer1{
        
        right: 14vw; 
        
}

    }
    
@media only screen and (max-width: 1200px) {
  
    .web-developer1{
        
        right: 8vw; 
        
}

    
    
}

.web-developer2 {

margin-top: 19vw;

position: absolute;

padding: 0.5vw;

right: 24vw;

max-width: 100%;

max-height: 100vh;

}

@media only screen and (max-width: 2400px) {
  
    .web-developer2{
        
        right: 18vw; 
        
    }
    
}
    
@media only screen and (max-width: 1600px) {
  
    .web-developer2{
        
        right: 12vw; 
        
}

    }
    
@media only screen and (max-width: 1200px) {
  
    .web-developer2{
        
        right: 6vw; 
        
}

    
    
}
    


.web-developer3 {

margin-top: 17vw;

position: absolute;

padding: 0.5vw;

right: 28vw;

max-width: 100%;

max-height: 100vh;

}

@media only screen and (max-width: 2400px) {
  
    .web-developer3{
        
        right: 22vw; 
        
    }
    
}
    
@media only screen and (max-width: 1600px) {
  
    .web-developer3{
        
        right: 16vw; 
        
}

    }
    
@media only screen and (max-width: 1200px) {
  
    .web-developer3{
        
        right: 10vw; 
        
}

    
    
}


p{

padding-top: 1vw;

padding-left: 1vw;
    
padding-right: 1vw;
    
padding-bottom: 1vw;

text-align: center;

font-size: 35px;

border: 3px solid #FA6800;
    

}


.jobs-avalible-text{

padding-top: 1vw;

padding-left: 1vw;
    
padding-right: 1vw;
    
padding-bottom: 1vw;

width: 50vw;
  
font-size: 25px;

text-align: left;

border: 3px solid #FA6800;

}


.web_developer_text_1 {
    
margin-top: 18vw;

padding-top: 1vw;

padding-left: 1vw;
    
padding-right: 1vw;
    
padding-bottom: 1vw;

width: 50vw;    

text-align: left;

font-size: 25px;

border: 3px solid #FA6800;




}


.socail-media-postion{

margin-top: 5vh;
    
margin-bottom: 5vh;

margin-left: 3vw;
    
margin-right: 3vw;
    
}


.social-media-buttons{
    
margin-left: 4vw;
    
margin-right: 4vw;

display: inline-block;
       
    
}


.jobs-avalible-image1{
  
margin-left: 60vw;

max-width: 100%;

max-height: 100vh;  
    
}

h1{
    
font-family: sans-serif;

margin-top: 15vh;
    
font-size: 35px;

color: #FA6800;
    
font-weight: 600;
    
border-bottom: 3px solid black;
    
text-align: center;
    

    
}

.first-name{
    
font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: left;
    
display: inline-block;
    
}

.first-name input{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;
    
display: inline-block;
    

    
}

.first-name-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;
    
display: inline-block;
    

    
}




.second-name{

font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: right;
    
display: inline-block;
    
}

.second-name input{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;
    
display: inline-block;
    
margin-left: 9vw;
}

.second-name-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;

display: inline-block;
    
margin-left: 8.6vw;
    

    
}

.email{

font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: left;  
    
display: inline-block;
    
}

.email input{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;

display: inline-block;
}

.email-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;

display: inline-block;   

    
}

.phone-num{

font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: right;
    
display: inline-block;
    
margin-left: 9vw;

    
}

.phone-num input{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;
    
display: inline-block;
}

.phone-number-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;
    
display: inline-block;
    
margin-left: 8.6vw;
    

    
}
.DOB{

font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: left;
    
display: inline-block;
    
}

.DOB input{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;
    
display: inline-block;
}

.DOB-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;
    
display: inline-block;

    

    
}
.employement-status-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;
    
display: inline-block;

margin-left: 8.6vw;   

    
}


.employment_status{

font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: right;
    
display: inline-block;
    
margin-left: 9vw;
    
}

.employment_status select{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;
    
}

.gender{

font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: left;
    
display: inline-block;
    
}

.gender select{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;
    
display: inline-block;
    
}

.gender-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;
    
display: inline-block;


    
}

.job{

font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: right;
    
display: inline-block;
    
}

.job select{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;
    
display: inline-block;
    
margin-left: 9vw;
    
}

.job-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;
    
display: inline-block;

margin-left: 8.6vw;
    
}

@media only screen and (max-width: 1140px) {
    
.first-name{
    
font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: left;
    
display: inline-block;
    
}

.first-name input{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;
    
display: inline-block;
    

    
}

.first-name-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;
    
display: inline-block;
    

    
}




.second-name{

font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: right;
    
display: inline-block;
    
}

.second-name input{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;
    
display: inline-block;
    
margin-left: 7.8vw;
}

.second-name-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;

display: inline-block;
    
margin-left: 7vw;
    

    
}

.email{

font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: left;  
    
display: inline-block;
    
}

.email input{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;

display: inline-block;
}

.email-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;

display: inline-block;   

    
}

.phone-num{

font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: right;
    
display: inline-block;
    
margin-left: 7.8vw;

    
}

.phone-num input{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;
    
display: inline-block;
}

.phone-number-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;
    
display: inline-block;
    
margin-left: 7vw;
    

    
}
.DOB{

font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: left;
    
display: inline-block;
    
}

.DOB input{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;
    
display: inline-block;
}

.DOB-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;
    
display: inline-block;

    

    
}
.employement-status-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;
    
display: inline-block;

margin-left: 7vw;   

    
}


.employment_status{

font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: right;
    
display: inline-block;
    
margin-left: 7.8vw;
    
}

.employment_status select{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;
    
}

.gender{

font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: left;
    
display: inline-block;
    
}

.gender select{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;
    
display: inline-block;
    
}

.gender-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;
    
display: inline-block;


    
}

.job{

font-family: sans-serif;

margin-top: 3vh;
    
font-size: 25px;

color: #FA6800;
    
font-weight: 600;
    
text-align: right;
    
display: inline-block;
    
}

.job select{
    
height: 5vh;
    
width: 35vw;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 2vw;
    
display: inline-block;
    
margin-left: 7.8vw;
    
}

.job-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: left;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 35vw;
    
display: inline-block;

margin-left: 7vw;
    
}    
    
}

.personal_statement{

font-family: sans-serif;

margin-top: 3vh;
    
font-size: 15px;

color: #FA6800;
    
font-weight: 600;
    
text-align: center;
    
}

.personal_statement textarea{
    

    
height: 30vh;
    
width: 80vw;
    
border: 3px solid #FA6800;
    
text-align: center;
    
font-size: 2vw;
    
}

.personal-statement-text{
    
font-family: sans-serif;
    
border: 3px solid #FA6800;
    
text-align: center;
    
font-size: 35px;
    
margin-top: 3vh;
    
width: 40vw;
    
margin-left: 20vw;
    
margin-right: 20vw;
    
}


.reset-button{
    
margin-bottom: 5vh;
    
text-align: left;

display: inline-block;
    
margin-left: 5vw;
    

    
}

.reset-button button{
    
color: white;

background-color: #FA6800;
    
height: 4vh;
    
width: 35vw;

}

.reset-button button:hover{

color: black;

transition-duration: 0.4s;

cursor: pointer;

background-color: orangered;

}


.submit-button{

margin-top: 10vh;
    
text-align: right;
    
color: white;
    
display: inline-block;
    
margin-right: 4vw;
    
    
}

.submit-button button{
    
color: white;

background-color: #FA6800;
    
height: 4vh;
    
width: 35vw;

}

.submit-button button:hover{

color: black;

transition-duration: 0.4s;

cursor: pointer;

background-color: orangered;

}

.random-text{
    
font-size: 25px;
    
margin-top: 5vh;
    
}

.footer{
    
  
background-color: lightgray;
    
width: 100vw;
    
border-top: solid 3px #FA6800;
    
text-align: center;
    
margin-top: 8vh;
    
height: 15vh;
    
    
    
}


.changeing-text{
    
    
color: black;
    
}


.hamburger{
    

    
position: relative;
    
width: 30px;
    
height: 4px;
    
background-color: white;
    
cursor: pointer;
    
}

.hamburger:before, .hamburger:after{
    

    
content: "";
    
position: absolute;
    
height: 4px;
    
left: 0;
    
transition: 0.4s;
        
}

.hamburger:before{
    
    top: -10px;
    
}

.hamburger:after{
    
    top: 10px;
}


<! -- lines 5 to 15 interact whith the html code so the image can be scaled whith browser window size-->

    


















